* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: brown;
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: dodgerblue;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

.title {
    color: black;
    font-size: 1em;
    margin: 10px 0;
}

.social-media {
    margin-top: 20px;
}

